<div class='project-stack'>
    <div class="title">End of Life (EOL)<span class='sprint'> Sprint 6</span></div>
    
    <div class="description">Bacon ipsum dolor amet tenderloin prosciutto tail t-bone alcatra. Shoulder burgdoggen kevin tri-tip doner flank ham.</div>
    
    <div class="icons">
        <i class="fab fa-sass"></i>
        <i class="fab fa-react"></i>
        <i class="fab fa-node"></i>
        <i class="fab fa-github"></i>
            <i class="fab fa-docker"></i>
        <i class="fab fa-aws"></i>
    </div>
    <span class="members">18 Members</span>
    <div class="memberlist">
        Trey<br>
        Weijian<br>
        Yihui<br>
        Leonard<br>
    </div>
</div>


