<div class='container'>
  <div class='headers row'>
    <div class='header__goal offset-2 col-5'><b>Sprint Goal</b></div>
    <div class='header__status col-5'><b>Status this Week</b></div>
  </div>
  {{>atom-project}}
  {{>atom-project}}
  {{>atom-project}}


</div>