<div>
  {{#taobao}}
  <div class='jio__title'>{{jio.title}}</div>
  {{#jio.date}}
  <div class='jio__date'>{{jio.date}}</div>
  {{/jio.date}}
  <button class='btn btn-info' data-toggle='modal' data-target='#joinJioModal'>{{jio.cta-text}}</button>
  {{/taobao}}
</div>
<div class='modal' id='joinJioModal' tabindex='-1' role='dialog'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title'>Add me to the jio</h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        <div class="input-group mb-3 flex-column">
          <input type="text" class="form-control mb-2 w-100" placeholder="Name" aria-label="Name">
          <input type="text" class="form-control w-100" placeholder="Telegram handler" aria-label="Telegram-handler">
        </div>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button>
        <button type='button' class='btn btn-primary'>Save changes</button>
      </div>
    </div>
  </div>
</div>